
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "clean-blog";


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.progressContainer{
  list-style: none;
  padding: 0;
  .teamProgress{

    padding: 5px;
    margin-bottom:10px;
    font-size: 18pt;
    span{
      display: inline-block;
      width:25%;
    }
    progress{
      border: solid 2px grey;

      width:70%;
    }
  }
}

.hintBox{
  margin-bottom: 25px;
  background: #eee;
  padding: 10px;
}

.nextButton{
  display: block;
  margin: 25px;
  font-size: 20pt;
}

.m-b-md {
  margin-bottom: 30px;
}
