
.progressContainer{
  list-style: none;
  padding: 0;
  .teamProgress{

    padding: 5px;
    margin-bottom:10px;
    font-size: 18pt;
    span{
      display: inline-block;
      width:25%;
    }
    progress{
      border: solid 2px grey;

      width:70%;
    }
  }
}